* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.wrap {
  padding: 0;

}
.plug {
  width: 100%;
  height: 100vh;
  background: url(../img/photo.jpg) no-repeat center top/cover;
}
.plug a {
  color: #fff;
  text-decoration: none;
}

 .soon{
    margin: 0;
    justify-content: center;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #396;
    font-size: 70px;
    margin: 115px 0px 120px;
}
.clock__wrap {
  width: 100%;
}
 
#clockdiv{
  display: flex;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}
 
#clockdiv > div {
    padding: 35px;
    border-radius: 7px;
    background: #c7b299;
    margin-left: 12px;
    margin-bottom: 1%;
}
 
#clockdiv div > span{
  padding: 20px;
  border-radius: 7px;
  background: #a48d72;
  
}
 
.smalltext{
  padding-top: 30px;
  font-size: 16px;
}







.carousel-indicators li {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}
.carousel-inner {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  bottom: 0;

  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
      flex-direction: column;

  margin: 0;
  padding: 0;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.carousel-caption h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  font-weight: 800;
}

.carousel-caption .sup-caption {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 500;

  margin-bottom: 0;
}

.carousel-caption .sub-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.carousel-caption .btn-secondary {
  padding: 10px 40px;
}

.header-menu__hamburger {
  position: relative;

  display: none;

  width: 30px;
  height: 23px;
  margin: 20px 0;

  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-menu__hamburger span {
  position: absolute;
  left: 0;

  display: block;

  width: 100%;
  height: 3px;

  -webkit-transition: .25s ease-in-out;
       -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);

  opacity: 1;
  border-radius: 3px;
  background: #fff;
}

.header-menu__hamburger span:nth-of-type(1) {
  top: 0;
}

.header-menu__hamburger span:nth-of-type(2) {
  top: 9px;
}

.header-menu__hamburger span:nth-of-type(3) {
  top: 18px;
}

.header-menu__hamburger.active span:nth-of-type(1) {
  top: 9px;

  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header-menu__hamburger.active span:nth-of-type(2) {
  left: -30px;

  opacity: 0;
}

.header-menu__hamburger.active span:nth-of-type(3) {
  top: 9px;

  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header {
  position: relative;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.header-menu {
  position: absolute;
  z-index: 999;
  top: 40px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  color: #fff;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__logo h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 400;

  margin-bottom: 0;
}

.header-menu__nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 0;

  list-style: none;
}

.header-menu__nav.active {
  position: absolute;

  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
      flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.header-menu__nav li {
  margin-right: 30px;
}

.header-menu__nav li:last-child {
  margin-right: 0;
}

.header-menu__nav li a {
  color: #fff;
}

.header-menu__nav li a:hover, .header-menu__nav li a:focus {
  -webkit-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
  text-decoration: none;

  color: #c7b198;
}

/*Section1*/


.services {
  margin-top: 89px;
}

.services__item {
  margin-bottom: 50px;
}
.services__item svg {
  display: block;

  height: 51px;
  margin: 0 auto;
}



.services__item h2 {
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;

  margin-top: 30px;

  text-align: center;

  color: rgb(85, 85, 85);
}
.services__item p {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.714;

  margin-top: 20px;

  text-align: center;

  color: rgb(140, 140, 140);
}
.services__item p {
  position: relative;
}
.services__item p::after {
  position: absolute;
  bottom: -33px;
  left: 50%;

  width: 70px;
  height: 3px;
  margin-top: 31px;

  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  background-color: #f1eee9;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services__item:hover h2 {
  cursor: pointer;
  text-decoration: none;

  color: #c7b299;
}
.services__item:hover {
  cursor: pointer;
}
.services__item:hover feflood {
  flood-color: #c7b299;
}
.services__item:hover p:after {
  background-color: #c7b299;
}
/*Section2*/
.projects {
      flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.projects h2 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;

  margin-top: 82px;

  text-align: center;

  color: #555;
}
.projects p {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.75;

  text-align: center;

  color: #8c8c8c;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-outline-primary {
  margin-top: 41px;
  margin-left: 10px;

  color: #8c8c8c;
  border-color: #ebebeb;
  background-color: #fff;
}
.btn-outline-primary:hover {
  color: #fff;
  border-color: #998675;
  background-color: #998675;
}
.projects__item--link {
  margin-bottom: 41px;

  text-align: center;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: #998675;
  background-color: #998675;
}
.btn-outline-primary:focus {
  color: #fff;
  border-color: #998675;
  background-color: #998675;
  -webkit-box-shadow: 0 0 0 .2rem rgb(153, 134, 117);
          box-shadow: 0 0 0 .2rem rgb(153, 134, 117);
}
.projects__item--photo {
  width: 370px;
  height: 235px;
}
.projects__item--caption {
  position: relative;

  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 30px;

  background-color: #fbfaf8;
}
.projects__item--caption:before {
  position: absolute;
  top: -10px;
  left: 20px;

  width: 0;
  height: 0;

  content: '';

  border-width: 0 15px 10px 15px;
  border-style: solid;
  border-color: transparent transparent #fbfaf8 transparent;
}

.projects__item {
  margin-bottom: 30px;
}

.projects__item img {
  width: 100%;
  max-width: 100%;
  height: 237px;
}
.projects__item h3 {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.2;

  text-align: left;

  color: #998675;
}
.projects__item p {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.429;

  text-align: left;

  color: #d1d1d1;
}
.overlay {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;

  display: none;

  background: rgba(17, 17, 17, .7);
}
i {
  font-size: 25px;

  margin-right: 15px;
  margin-left: 15px;

  text-decoration: none;

  color: #fff;
}
.projects__item:hover {
  cursor: pointer;
}
i:hover {
  color: #c7b299;
}
.overlay .projects__item--link a {
  line-height: 19;
}
.projects__item--link {
  line-height: 80px;
}
.projects__item:hover .overlay {
  display: block;
}
.projects__item:hover .projects__item--caption {
  background-color: #362f2d;
}
.projects__item:hover .projects__item--caption:before {
  border-color: transparent transparent #362f2d transparent;
}
.projects__item:hover .projects__item--caption h3 {
  color: #fff;
}
.projects__item:hover .projects__item--caption p {
  color: #c7b299;
}


.btn-primary {
  width: 170px;
  height: 50px;
  margin-top: 41px;
  margin-bottom: 43px;
  padding-top: 13px;

  text-transform: uppercase;

  border: 1px solid #998675;
  border-radius: 3px;
  background-color: #998675;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
          box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
}
.btn-primary:hover {
  border: 1px solid #998675;
  background-color: #998675;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
          box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
}
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgb(117, 146, 147);
          box-shadow: 0 0 0 .2rem rgb(117, 146, 147);
}
.btn-primary:not(:disabled):not(.disabled):active {
  border: 1px solid #998675;
  background-color: #998675;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
          box-shadow: inset 0 3px 0 0 rgba(115, 99, 87, .004);
}
.devices {
  background-color: #fbfaf8;
}
.devices img {
  margin-top: 79px;
}
.devices h3 {
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.2;

  margin-top: 195px;

  text-align: left;

  color: #555;
}
.devices p {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.75;

  margin-top: 41px;

  text-align: left;

  color: #8c8c8c;
}
.devices li {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 2;

  margin-left: 20px;
  padding-left: 15px;

  list-style-type: none;
  list-style-image: url(../img/01.png);

  text-align: left;

  color: #8c8c8c;
}
/*Section3*/
.posts h3 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;

  margin-top: 68px;

  text-align: center;

  color: #555;
}
.posts__text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.75;

  margin-top: 30px;

  text-align: center;

  color: rgb(140, 140, 140);
}

.calendar {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;

  width: 51px;
  height: 70px;
}

.mounth {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 2.667;

  text-align: center;

  color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
  background-color: #252525;
}
.date {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 1.833;

  height: 35px;

  text-align: center;

  color: rgb(255, 255, 255);
  border-radius: 5px 5px 0 0;
  background-color: #363636;
}

.posts__box img {
  width: 100%;
  max-width: 100%;
  height: 220px;
}
.posts__box h4 {
  font-family: 'Raleway';
  font-size: 20px;

  margin-top: 30px;

  text-align: left;

  color: #555;
}
.posts__text--second {
  font-family: 'Montserrat';
  font-size: 14px;

  text-align: left;

  color: #8c8c8c;
}

.posts__box--information a {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.429;

  position: relative;

  text-align: left;
  text-decoration: none;

  color: #c7b299;
}
.read__more:after {
  position: absolute;
  top: 5px;
  left: 85px;

  width: 0;
  height: 0;

  content: '';

  border-width: 4px 0 4px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #c7b299;
}

.posts__box {
  position: relative;

  margin-bottom: 115px;
}
.posts__box--image {
  width: 370px;
  height: 223px;
}
.posts__box--information {
  position: relative;

  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 30px;

  background-color: #fbfaf8;
}
.posts__box:hover {
  cursor: pointer;
}
.posts__box:hover .date {
  background-color: #c7b299;
}
.posts__box:hover .mounth {
  background-color: #a48d72;
}
.posts__box:hover .overlay {
  display: block;
}
.posts__box:hover .posts__box--information {
  background-color: #362f2d;
}
.posts__box:hover .posts__box--information:before {
  border-color: transparent transparent #362f2d transparent;
}
.posts__box:hover .posts__box--information h4 {
  color: #c7b299;
}
.posts__box:hover .posts__box--information p {
  color: #fff;
}




.footer {
  background-color: #191919;
}

.company__information span {
  font-family: 'Raleway';
  font-size: 34px;
  line-height: 1.2;

  margin-top: 81px;

  vertical-align: middle;

  color: rgb(255, 255, 255);
}
.footer p {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.714;

  margin-top: 0;
  margin-bottom: 0;

  text-align: left;

  color: #555;
}
.read__more {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.429;

  text-align: left;
  text-decoration: none;

  color: #d1d1d1;
}
.company__information a {
  position: relative;

  margin-top: 55px;
}
.company__information a:hover {
  text-decoration: none;

  color: #d1d1d1;
}
.company__information .read__more {
  margin-top: 30px;
}
.read__more:after {
  position: absolute;
  top: 5px;
  left: 85px;

  width: 0;
  height: 0;

  content: '';

  border-width: 4px 0 4px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #c7b299;
}
.footer h6 {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;

  margin-top: 77px;
  margin-bottom: 35px;

  text-align: left;

  color: #fff;
  color: rgb(255, 255, 255);
}
.footer__posts hr {
  background-color: #252525;
}

.footer__posts span {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.667;

  text-align: left;

  color: rgb(54, 54, 54);
}
.footer__logo {
  margin-bottom: 31px;
}


.site {
  color: #959595;
}
.footer__site {
  color: #00bff3;
}
.site:hover, .footer__site:hover {
  text-decoration: none;
}
.footer__image--item {
  width: 100%;
  max-width: 100%;
  height: 98px;
  margin-bottom: 27px;
}

.footer-bottom {
  padding: 40px 0;

  background-color: #111;
}

.footer-bottom .contacts {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #555;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom .contacts .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom .contacts .copy span {
  color: #fff;
}

.footer-bottom .contacts .copy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 20px;
  margin-left: 15px;
  padding-left: 0;

  list-style: none;
}

.footer-bottom .contacts .copy ul li {
  padding: 0 15px;
}

.footer-bottom .contacts .copy ul li:first-child {
  border-left: 1px solid #252525;
}

.footer-bottom .contacts .copy ul li:nth-child(2) {
  border-right: 1px solid #252525;
  border-left: 1px solid #252525;
}

.footer-bottom .contacts .copy ul li:nth-child(2) a {
  color: #fff;
}

.footer-bottom .contacts .copy ul li a {
  color: #555;
}

.footer-bottom .contacts .autors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-bottom .contacts .autors p {
  padding: 0 15px;
}

.footer-bottom .contacts .autors span {
  color: #959595;
}
.fix {
  margin-bottom: 40px;
}



@media (max-width: 980px) {

  .footer__image--item {
    width: 100%;
    max-width: 85%;
    height: 98px;
    margin-bottom: 27px;
}
  .carousel-caption h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
  }

  .carousel-caption .sup-caption {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 0;
  }

  .carousel-caption .sub-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  .carousel-caption .btn-secondary {
    font-size: 12px;

    padding: 5px 20px;
  }

  .header-menu {
    top: 20px;
  }

  .header-menu p {
    font-size: 20px;
  }

  .header-menu img {
    width: 35px;
    height: 30px;
  }

  .header-menu__nav {
    position: absolute;
    z-index: 999;
    top: 25px;
    left: 83%;

    display: none;
        flex-direction: column;

    padding: 5px;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }

  .header-menu__hamburger {
    display: block;
  }

  .services__item {
    margin: 25px 0;
  }

  .mobile h3 {
    margin-top: 30px;
  }

  .mobile p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 40px 0 70px 0;

    color: #8c8c8c;
  }

  .mobile ul {
    padding-left: 0;
  }

  .mobile ul li {
    padding-left: 40px;
  }

  .posts-image {
    height: 350px;
  }

  .widgets-item {
    height: 150px !important;
  }

  .autors, .copy {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  #clockdiv div > span {
    padding: 10px;
    border-radius: 7px;
    background: #a48d72;
}
}

@media (max-width: 720px) {

  .footer__image--item {
    width: 100%;
    max-width: 100%;
    height: 98px;
    margin-bottom: 27px;
}
  .carousel-caption .sub-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

    display: none !important;
  }

  .projects__item img {
    width: 100%;
    max-width: 100%;
    height: 340px !important;
  }
  .posts__box img {
    width: 100%;
    max-width: 100%;
    height: 340px !important;
  }

  #clockdiv div > span {
      padding: 10px;
      border-radius: 7px;
      background: #a48d72;
      margin: -8px;
  }
}

@media (max-width: 540px) {
  .carousel-caption h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
  }

  .header-menu {
    top: 0;
  }

  .header-menu__hamburger {
    margin: 5px 0;
  }

  .header-menu__nav {
    left: 60%;
  }

  #clockdiv div > span {
      padding: 10px;
      border-radius: 7px;
      background: #a48d72;
      margin: -8px;
  }

}
