
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
h2::after {
	position: absolute;
    width: 65%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 78, 0.7);
}
}

@media (max-width: 768px) {
h2::after {
	position: absolute;
    width: 65%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 78, 0.7);
}
}