@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

input {
  outline: none;
  padding-left: 0.5rem;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.btn-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: fixed;
  top: 70%;
  left: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  z-index: 100000;
}

.btn-pulse {
  background-color: rgba(114, 118, 172, 0.5);
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.btn-pulse-inner {
  background-color: #4772f0;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.btn-pulse-inner img {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .btn-pulse-inner img {
    width: 50%;
  }
  html {
    font-size: 8px;
  }
}

@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url("../fonts/MuseoSansCyrl-100.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-300Italic";
  src: url("../fonts/MuseoSansCyrl-300Italic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.header {
  background: url(../img/header-bg.png) no-repeat center center;
  height: 89vh;
  width: 100%;
  background-size: cover;
}

.header__nav {
  position: fixed;
  top: 0;
  /* Расстояние сверху */
  padding: 10px;
  /* Поля вокруг текста */
  background: #000;
  /* Цвет фона */
  border: 1px solid #282828;
  padding-top: 2rem;
  z-index: 10000;
  width: 100%;
}

.header__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phones--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__phones--box a {
  font-family: "MuseoSansCyrl-300";
  margin-left: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.375;
  text-align: left;
}

.header__phones--box a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #b3b4b5;
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__callback--box a {
  font-family: "MuseoSansCyrl-300";
  color: #ffffff;
  border-radius: 5px;
  background-color: #6fc754;
  font-size: 1.6rem;
  line-height: 1.375;
  padding: 0.8rem 1rem 1rem 1rem;
}

.header__callback--box a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.7rem;
  padding: 0.9rem 1.1rem 1.1rem 1.1rem;
  -webkit-box-shadow: 0px 0px 8.1px 0.9px rgba(255, 180, 2, 0.34);
          box-shadow: 0px 0px 8.1px 0.9px rgba(255, 180, 2, 0.34);
}

.header__messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__messenger--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__messenger--box a {
  margin-left: 0.5rem;
}

.header__messenger--box a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__menu-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--box-active span {
  height: 0 !important;
}

.header__menu--box-active span::before {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.header__menu--box-active span::after {
  -webkit-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.header__menu--box {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--box span {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -15px;
}

.header__menu--box span::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 50%;
  -webkit-transform: translate(-15px, 8px);
          transform: translate(-15px, 8px);
  left: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__menu--box span::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-15px, -9px);
          transform: translate(-15px, -9px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .active-menu {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__menu-list {
  z-index: 100;
  top: 6rem;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  width: 27rem;
  background: #484848;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 0;
}

.header__menu-list--item {
  padding: 1.5rem;
}

.header__menu-list a {
  font-family: "MuseoSansCyrl-500";
  color: #ffffff;
  font-size: 1.8rem;
}

.header__menu-list a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #000000;
}

.header__content {
  margin-top: 7.8rem;
  padding-top: 7rem;
}

.header__content h1 {
  color: #ffffff;
  font-family: "MuseoSansCyrl-700";
  font-size: 5.2rem;
  letter-spacing: 0.2rem;
}

.header__content-box {
  position: relative;
  margin-left: 5.3rem;
  margin-top: 7.5rem;
  z-index: 1000;
}

.header__content-box::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #434343;
  border-radius: 0.5rem;
  height: 13.8rem;
  top: -20%;
  left: -5%;
  z-index: -1;
  opacity: 0.7;
}

.header__description {
  background: url(../img/check.png) no-repeat center left;
  font-family: "MuseoSansCyrl-700";
  padding-left: 4rem;
  color: #ffffff;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  background-color: rgba(67, 67, 67, 0.7);
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
}

.header__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.header__form input {
  font-family: "MuseoSansCyrl-500";
  width: 27rem;
  border-radius: 0.5rem;
  border: none;
  background: #ffffff;
  padding-top: 1.8rem;
  padding-bottom: 2rem;
  padding-left: 2.9rem;
  line-height: 0;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.header__form button {
  font-family: "MuseoSansCyrl-500";
  width: 27rem;
  border-radius: 0.5rem;
  border: none;
  background: #4772f0;
  padding-top: 1.8rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.header__form--title {
  font-family: "MuseoSansCyrl-500";
  font-size: 3.6rem;
  line-height: 0;
}

.header__form--description {
  font-family: "MuseoSansCyrl-300";
  font-size: 1.6rem;
  line-height: 2;
}

.solution__reset {
  margin-left: 2.5rem !important;
}

.solution__img-box {
  margin-top: 6rem;
}

.solution__img-box img {
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
}

.solution__title {
  margin: 0 auto;
}

.solution__title h2 {
  font-family: "MuseoSansCyrl-700";
  font-size: 5.2rem;
}

.solution__dscription-box {
  margin-left: 7rem;
}

.solution__dscription-box h3 {
  margin-top: 15rem;
  font-family: "MuseoSansCyrl-700";
  font-size: 2.7rem;
}

.solution__dscription-box p {
  font-family: "MuseoSansCyrl-300";
  font-size: 1.8rem;
  line-height: 1.8;
  color: #0b747b;
}

.solution__dscription-box a {
  display: inline-block;
  font-family: "MuseoSansCyrl-500";
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #4772f0;
  padding: 1.9rem 2.9rem;
  margin-top: 2rem;
  color: #ffffff;
}

.solution__dscription-box a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefit {
  background: #f7f7f7;
  margin-top: 5rem;
  height: 80rem;
}

.benefit__title {
  text-align: center;
}

.benefit__title h2 {
  font-family: "MuseoSansCyrl-700";
  font-size: 5.2rem;
}

.benefit__title-choise p {
  margin-top: 0;
  font-family: "MuseoSansCyrl-500";
  font-size: 5.2rem;
}

.benefit__switch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #b3b4b5;
  border-radius: 40px;
  width: 64%;
  background: #ffffff;
}

.benefit__switch-wrap a {
  padding: 1.5rem;
  font-family: "MuseoSansCyrl-300";
  font-size: 2.4rem;
  color: #b3b4b5;
}

.benefit .shadow {
  color: #000000;
  border-radius: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
}

.benefit .active-swich {
  display: block;
}

.benefit__switch-title {
  display: none;
  margin-top: 3rem;
}

.benefit__switch-title p {
  font-family: "MuseoSansCyrl-300";
  font-size: 2.2rem;
}

.benefit__switch-title p span {
  text-transform: uppercase;
  font-family: "MuseoSansCyrl-500";
  font-size: 2.2rem;
}

.benefit__list-wrap {
  display: none;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
  margin-bottom: 7rem;
  padding: 2.5rem;
}

.benefit__list-wrap a {
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "MuseoSansCyrl-500";
  font-size: 1.8rem;
  color: #ffffff;
  background: #4772f0;
  margin-left: 60%;
}

.benefit__list-wrap a:hover {
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefit__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.benefit__list-item img {
  margin-right: 2rem;
}

.benefit__list-item p {
  font-family: "MuseoSansCyrl-300";
  font-size: 1.8rem;
  font-weight: normal;
}

.price__title {
  text-align: center;
}

.price__title h2 {
  font-family: "MuseoSansCyrl-700";
  font-size: 5.2rem;
}

.price__client p {
  font-family: "MuseoSansCyrl-500";
  font-size: 5.2rem;
}

.price__list-wrap {
  margin-top: 3rem;
  position: relative;
  height: 67rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
}

.price__list-wrap:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price__list-title {
  padding-top: 2rem;
  text-align: center;
}

.price__list-title p {
  font-family: "MuseoSansCyrl-700";
  font-size: 2.4rem;
}

.price__list-title span {
  font-family: "MuseoSansCyrl-500";
  font-size: 1.8rem;
}

.price__cost {
  text-align: center;
}

.price__cost p {
  display: inline-block;
  font-family: "MuseoSansCyrl-300";
  font-size: 2.4rem;
  border: 1px solid #b3b4b5;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-weight: normal;
}

.price__service {
  text-align: center;
}

.price__service h3 {
  font-family: "MuseoSansCyrl-300";
  font-size: 2.4rem;
}

.price__service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__service-wrap img {
  margin-right: 1rem;
}

.price__service-wrap p {
  margin: 1rem;
  font-family: "MuseoSansCyrl-300";
  font-size: 1.8rem;
}

.price__link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 3rem;
  text-align: center;
}

.price__link a {
  text-transform: uppercase;
  font-family: "MuseoSansCyrl-500";
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: #4772f0;
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 3.8rem;
  color: #ffffff;
}

.price__link a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
          box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
}

.reviews {
  background: #f7f7f7;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  padding: 0;
}

.reviews__head h2 {
  font-family: "MuseoSansCyrl-700";
  font-size: 5.2rem;
  margin: 2rem 0 0 1rem;
}

.reviews__img {
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.reviews__img img {
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 100%;
}

.reviews__nav {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  display: none;
}

.reviews .item-nav {
  padding: 1rem 1.5rem;
  opacity: 0.3;
  cursor: pointer;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .item-nav:hover {
  opacity: 1;
}

.reviews__right {
  padding-left: 5rem;
}

.reviews__txt {
  font-family: "MuseoSansCyrl-300";
  font-size: 2rem;
  line-height: 3rem;
}

.reviews__author {
  text-align: left;
}

.reviews__author p {
  position: relative;
  margin-top: 0;
  font-family: "MuseoSansCyrl-300Italic";
  font-size: 2rem;
  line-height: 1.6rem;
}

.reviews__author p::before {
  position: absolute;
  content: '';
  width: 100%;
  background: #b3b4b5;
  height: 2px;
  top: 170%;
}

.reviews .owl-nav {
  position: absolute;
  left: 4.5%;
  top: 18.5rem;
}

.footer {
  background: #2f2f2f;
}

.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts-list p {
  font-family: "MuseoSansCyrl-100";
  color: #ffffff;
  font-size: 1.8rem;
}

.footer__contacts-list span {
  font-family: "MuseoSansCyrl-300";
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

.footer__line-top {
  margin-top: 6rem;
}

.footer__line-bottom {
  margin-bottom: 4rem;
}

.footer__title {
  font-family: "MuseoSansCyrl-700";
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.footer__social span {
  font-family: "MuseoSansCyrl-500";
  font-size: 1.8rem;
  color: #ffffff;
}

.footer__bottom {
  padding-bottom: 2rem;
}

.footer__copyright {
  background: #282828;
  height: 6rem;
}

.footer__copyright--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright--link a {
  margin-top: 2rem;
  font-family: "MuseoSansCyrl-100";
  font-size: 1.6rem;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .header__content {
    margin-top: 5rem;
  }
  .benefit__switch-wrap a {
    padding: 1rem 1.9rem;
  }
}

@media screen and (max-width: 991px) {
  .header {
    background: url(../img/header-bg.png) no-repeat;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .header__phones {
    display: none;
  }
  .header__callback {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__messenger {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__messenger img:first-child {
    padding-right: 2.5rem;
  }
  .header__messenger img:last-child {
    padding-left: 2.5rem;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__content {
    margin-top: 2rem;
  }
  .header__content-box {
    margin-top: 4.5rem;
  }
  .header__content-box::after {
    width: 85%;
  }
  .header__form {
    width: 70%;
    margin: 7rem auto;
  }
  .solution__dscription-box h3 {
    margin-top: 7rem;
  }
  .solution__dscription-box a {
    width: 100%;
    text-align: center;
  }
  .benefit {
    height: 100rem;
  }
  .benefit__switch-wrap a {
    padding: 1rem 6.65rem;
  }
  .reviews__author {
    margin-top: 1rem;
  }
  .reviews__author p {
    line-height: 1.2;
  }
  .reviews__author p::before {
    top: 130%;
  }
  .reviews .owl-nav {
    position: absolute;
    left: 11.5%;
    top: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .header__messenger {
    display: none;
  }
  .header__menu {
    margin-top: 0.5rem;
  }
  .header__content h1 {
    font-size: 4rem;
  }
  .header__content-box::after {
    width: 100%;
    left: -2%;
    top: -10%;
  }
  .header__form {
    margin-bottom: 9rem;
  }
  .solution__dscription-box {
    margin-left: 0 !important;
  }
  .solution__dscription-box h3 {
    margin-top: 2.5rem;
  }
  .solution__dscription-box a {
    width: 100%;
    text-align: center;
  }
  .benefit__switch-wrap a {
    padding: 1rem 3.04rem;
  }
  .price__list-wrap {
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
  }
  .reviews__img {
    width: 70%;
    margin: 1rem auto;
  }
  .reviews__author {
    margin-top: 3rem;
  }
  .reviews .owl-nav {
    display: none;
  }
  .footer__contacts {
    display: none;
  }
  .footer__line-top {
    display: none;
  }
  .footer__line-bottom {
    display: none;
  }
  .footer__title {
    display: none;
  }
  .footer__bottom {
    margin-top: 2.5rem;
  }
  .footer__copyright--link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 7px;
  }
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo-wrap {
    padding-top: 1.8rem;
  }
  .header__content-box::after {
    background: none;
    top: -20%;
  }
  .header__form {
    margin-top: 3rem;
  }
  .benefit__switch-wrap {
    width: 40rem;
  }
  .benefit__switch-wrap a {
    padding: 1rem 2.8rem;
  }
  .reviews__img {
    margin-top: 3rem;
  }
  .reviews__txt {
    width: 100%;
    padding: 1.9rem;
    padding-left: 0;
  }
  .reviews__author p {
    line-height: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .price__title h2 {
    margin-top: 10rem;
    font-size: 4.2rem;
  }
}
/*# sourceMappingURL=style.css.map */