@font-face {
  font-family: GothamLight;
  src: url(../fonts/GothamPro-Light.woff2); }

@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamPro-Medium.woff2); }

html {
  font-size: 10px; }

a {
  color: #6a6a6d; }
  a:hover {
    text-decoration: none;
    color: #6a6a6d; }

body {
  font-family: GothamLight; }

img {
  max-width: 100%; }

input {
  width: 100%;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffd600;
  background-color: transparent; }

button {
  width: 50%;
  padding: 0.8rem 4rem;
  color: #ffffff;
  border: 2px solid #ffd600;
  outline: none;
  background-color: transparent; }
  button:hover {
    cursor: pointer; }

button:focus
,
input:focus {
  outline: none; }

.main-section {
  overflow: hidden;
  height: 100vh;
  padding-top: 3rem;
  color: #6a6a6d;
  font-size: 1.6rem; }

ul {
  padding-left: 0;
  list-style: none; }

.header-menu__hamburger {
  position: relative;
  z-index: 99;
  width: 3rem;
  height: 2.3rem;
  margin: 0;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.header-menu__hamburger.black span {
  opacity: 0.6;
  background-color: #231f20; }

.header-menu__hamburger.black.active span {
  background-color: #ffffff; }

.header-menu__hamburger.black:hover .black span {
  transition: all 0.3s;
  opacity: 1; }

.header-menu__hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 0.3rem;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 0.3rem;
  background: #58595b; }

.header-menu__hamburger span:nth-of-type(1) {
  top: 0; }

.header-menu__hamburger span:nth-of-type(2) {
  top: 0.9rem; }

.header-menu__hamburger span:nth-of-type(3) {
  top: 1.8rem; }

.header-menu__hamburger.active span:nth-of-type(1) {
  top: 0.9rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.header-menu__hamburger.active span:nth-of-type(2) {
  left: -3rem;
  opacity: 0; }

.header-menu__hamburger.active span:nth-of-type(3) {
  top: 0.9rem;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

@media (min-width: 320px) {
  .preloader {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 9999999; }
  @keyframes shHead {
    from {
      height: 0; }
    to {
      height: 100%; } }
  .header-main {
    display: none;
    justify-content: space-between;
    position: absolute;
    background-color: #58595b;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
    font-size: 1.6rem; }
    .header-main.active {
      display: flex;
      animation: shHead 0.5s forwards; }
      .header-main.active .contact {
        opacity: 1; }
  .lang {
    font-family: GothamMedium; }
    .lang .active {
      color: #ffd600;
      font-weight: 600; }
  .nav-menu-main ul {
    display: flex;
    color: #ffd600;
    flex-direction: column;
    align-items: center; }
    .nav-menu-main ul li {
      margin-bottom: 2rem; }
      .nav-menu-main ul li:last-child {
        margin-right: 0; }
      .nav-menu-main ul li a {
        color: #ffd600; }
  .lang-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  .number,
  .adress {
    text-align: center; }
  .close-head {
    color: #ffd600;
    font-size: 3rem; }
  .adress {
    color: #c0c0c0; }
  .main-section {
    position: relative;
    padding-right: 1rem;
    padding-left: 1.5rem;
    max-height: 100vh; }
  .logo-wrap {
    position: absolute;
    top: 50%;
    display: flex;
    padding: 2rem 6rem;
    transform: translateY(-50%);
    align-items: center;
    width: 100%;
    justify-content: center;
    left: -40px; }
  @keyframes shForm {
    from {
      transform: translateX(97%); }
    to {
      transform: translateX(0); } }
  @keyframes hForm {
    from {
      transform: translateX(0); }
    to {
      transform: translateX(95%); } }
  @keyframes rotOpen {
    from {
      transform: rotate(0); }
    to {
      transform: rotate(180deg); } }
  .main-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    transform: translateX(97%);
    animation: hForm 0.8s forwards;
    color: #ffffff;
    background-color: #58595b;
    justify-content: center;
    align-items: center;
    z-index: 99998; }
    .main-form__text {
      position: relative;
      margin-bottom: 5rem;
      text-align: center; }
    .main-form .open {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: -2.3rem;
      display: flex;
      width: 6rem;
      height: 6rem;
      padding-left: 1rem;
      cursor: pointer;
      transform: translateY(-50%);
      color: #ffd600;
      border-radius: 3rem;
      background-color: #58595b;
      align-items: center; }
      .main-form .open.active i {
        animation: rotOpen 0.8s forwards; }
      .main-form .open i {
        font-size: 2rem; }
    .main-form form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .main-form form input {
        margin-bottom: 3rem; }
    .main-form.active {
      animation: shForm 0.8s forwards; }
  .close {
    margin-bottom: 6rem;
    color: #ffd600;
    font-size: 3rem;
    margin-left: 3rem; }
  .production-wrap {
    position: relative; }
  @keyframes bgc {
    from {
      background-color: #fff; }
    to {
      background-color: #58595b; } }
    .production-wrap.active {
      animation: bgc 0.3s forwards; }
  .header {
    justify-content: space-between;
    position: fixed;
    background-color: #58595b;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    flex-direction: row;
    overflow: hidden;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100vh;
    height: 100vh;
    display: none; }
    .header.active {
      animation: shHead 0.5s forwards;
      display: flex; }
      .header.active .contact {
        opacity: 1; }
  .nav-menu ul {
    display: flex;
    color: #ffd600;
    flex-direction: column;
    align-items: center; }
    .nav-menu ul li {
      margin-bottom: 2rem; }
      .nav-menu ul li:last-child {
        margin-right: 0; }
      .nav-menu ul li a {
        color: #ffd600; }
  .production-wrap {
    overflow: hidden;
    position: relative; }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 3rem; }
  .logo-head {
    display: none; }
  .bg {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
    background-color: #58595b;
    z-index: -1; }
  .production {
    padding: 2rem;
    min-height: 100vh;
    height: auto;
    position: relative; }
    .production-nav {
      display: none; }
  .owl-nav {
    display: none; }
  .production-item__img {
    padding-top: 2rem;
    margin-bottom: 1rem; }
    .production-item__img img {
      box-shadow: 0 0 20px -7px #ffd600; }
  .production-item__indicators {
    margin: 0 2rem;
    color: #ffd600;
    font-size: 1.5rem; }
    .production-item__indicators .current-indicators {
      font-size: 3rem;
      font-weight: 700; }
  .production-item__txt {
    padding: 0 2rem;
    color: #ffffff;
    font-size: 1.3rem; }
  .frame {
    display: none; }
  .page-wrap {
    position: relative;
    min-height: 100vh;
    padding: 2rem; }
  .product-wrap {
    overflow: visible; }
  .contact {
    opacity: 0; }
  .card {
    padding: 0;
    margin-bottom: 3rem;
    border: none; }
    .card-header {
      padding: 0;
      background-color: transparent;
      border: none; }
    .card-header__img {
      height: 100px;
      overflow: hidden; }
    .card-header__img img {
      width: 100%; }
  .mb-0 {
    text-align: center; }
    .mb-0 button {
      font-size: 1.3rem;
      color: #000;
      text-decoration: none !important; }
  .product-tabs {
    display: none; }
  .accordion {
    width: 100%; }
  .card-body {
    border: 3px solid #ffd600;
    border-top: none; }
    .card-body button {
      font-size: 1.3rem;
      color: #000;
      text-decoration: none !important;
      display: block;
      margin: 0.5rem auto 0 auto; }
  .mb-0 {
    border: 3px solid #ffd600;
    border-top: none; }
  .mb-0 h5:has(.collapsed) {
    border: 2px solid #58595b; }
  .btn-link:hover,
  .btn-link:focus {
    color: #000; }
  .bg-product {
    display: none; }
  .card-text {
    font-size: 1.2rem; }
  .card-title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700; }
  .blog-item {
    border-bottom: 15px solid #ffd600;
    width: 90%;
    margin: 0 10px 3rem 0; }
  .report-body {
    border-left: none;
    border-bottom: none;
    padding-top: 2rem; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    z-index: 99999999; }
  .swiper-pagination-bullet {
    background-color: #ffd600 !important; }
  .map {
    height: 35vh; }
  .contacts-item {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 2rem; }
    .contacts-item i {
      color: #ffd600;
      margin-right: 2rem; }
  .contacts-items {
    margin-top: 2rem; }
  .phone {
    transform: rotate(90deg); } }

@media (min-width: 576px) {
  .logo-wrap {
    left: -20px; }
  .header {
    width: 100vw; }
  .card-header__img {
    height: 150px; }
  .contacts-item {
    text-align: center; } }

@media (min-width: 768px) {
  .logo-wrap {
    left: -1px; }
  .card-header__img {
    height: 250px; }
  .mb-0 button {
    font-size: 1.6rem; } }

@media (min-width: 992px) {
  .header-main {
    display: flex;
    height: 10rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: static;
    background-color: transparent;
    z-index: 99998; }
  .header-menu__hamburger {
    display: none; }
  .nav-menu-main {
    margin-bottom: 0; }
  .nav-menu-main ul {
    flex-direction: row;
    margin-bottom: 0;
    color: #000; }
    .nav-menu-main ul li {
      margin-bottom: 0;
      margin-right: 65px; }
      .nav-menu-main ul li a {
        color: #58595b; }
        .nav-menu-main ul li a:hover {
          color: #ffd600;
          transition: all 0.3s; }
      .nav-menu-main ul li:last-child {
        margin-right: 0; }
  .close-head {
    display: none; }
  .lang-wrap {
    align-items: baseline; }
  .close {
    display: none; }
  .main-form {
    z-index: 99999; }
  .nav-menu {
    margin-left: -20%; }
  .bg {
    display: flex;
    align-items: center;
    padding-top: 10rem; }
  .production-wrap {
    overflow: hidden;
    max-height: 100vh; }
  .header-mobile {
    display: none; }
  .logo-head {
    display: block; }
  .header {
    display: flex;
    height: 10rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: static;
    background-color: transparent; }
  .main-form {
    padding: 2rem 4rem; }
  .nav-menu {
    margin-bottom: 0; }
  .nav-menu ul {
    display: flex;
    color: #58595b;
    align-items: center;
    margin-left: -5%;
    flex-direction: row;
    margin-bottom: 0; }
    .nav-menu ul li {
      margin-right: 1rem !important;
      margin-bottom: 0; }
      .nav-menu ul li:last-child {
        margin-right: 0; }
      .nav-menu ul li a {
        color: #58595b; }
        .nav-menu ul li a:hover {
          color: #ffd600; }
  .production-nav {
    display: block;
    font-size: 4rem;
    margin-bottom: 10rem;
    margin-right: 5rem; }
  .production-item {
    display: flex; }
    .production-item__indicators {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
      align-items: center; }
    .production-item__txt {
      font-size: 1.7rem; }
  .bg {
    position: absolute;
    left: 55%;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: #58595b;
    z-index: -1; }
  .owl-prev,
  .owl-next {
    border: none;
    width: 0;
    padding: 0 2rem;
    color: #ffd600;
    font-size: 7rem; }
  .production .contact {
    opacity: 0; }
  .production-item__indicators .current-indicators {
    font-size: 8rem;
    font-weight: bolder; }
  .frame {
    height: 80%;
    width: 30%;
    border: 1px solid #ffd600;
    border-left: none;
    display: block; }
  .production-item__img {
    height: 60vh; }
    .production-item__img img {
      height: 100%; }
  .products-item__img img {
    width: 100%; }
  .page-wrap {
    overflow: hidden;
    height: 100vh; }
  .products-item__img {
    padding-left: 0 !important;
    height: 65vh; }
    .products-item__img img {
      height: 100%; }
  .tab-content > .active {
    display: flex; }
  .products-item__txt {
    color: #ffffff;
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
  .nav-link.active {
    border-bottom: 2px solid #ffd600;
    color: #000;
    font-weight: 700; }
  .nav-link {
    font-size: 1.6rem;
    padding: 3rem 1rem 1rem;
    border-bottom: 2px solid #58595b; }
    .nav-link:hover {
      border-bottom: 2px solid #ffd600;
      color: #000;
      font-weight: 700;
      transition: all 0.3s; }
  .products-nav {
    padding-right: 0; }
  .products-content {
    padding-left: 0; }
  .product-tabs {
    padding-top: 5rem;
    display: flex; }
  .product-tabs__small {
    display: none; }
  .bg-product {
    display: flex; }
  .product-wrap {
    overflow: hidden; }
  .blog-item {
    display: flex;
    flex-direction: row;
    height: 27vh !important;
    width: 70% !important;
    border: none;
    border-right: 10px solid #ffd600;
    margin-bottom: 10vh !important;
    margin-left: auto;
    margin-right: auto; }
    .blog-item:hover {
      box-shadow: 0 0 50px #ffd600;
      transition: all 0.3s;
      cursor: pointer; }
  .report-body {
    padding-top: 3rem; }
  .card-img-top {
    width: 40% !important; }
  .swiper-wrapper {
    padding-top: 10vh;
    height: 80vh !important; }
  .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 45%;
    right: 5%; }
  .blog-wrap {
    max-height: 100vh; }
  .blog-frame {
    height: 95%; }
  .map {
    height: 50vh;
    margin-top: 15vh; }
  .contacts-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%; }
  .contacts-item {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 5rem; } }

@media (min-width: 1200px) {
  .nav-menu ul {
    display: flex;
    color: #ffd600;
    align-items: center; }
    .nav-menu ul li {
      margin-right: 3rem !important; }
      .nav-menu ul li:last-child {
        margin-right: 0; }
      .nav-menu ul li a {
        color: #58595b; }
  .frame {
    height: 90%;
    width: 30%;
    border: 1px solid #ffd600;
    border-left: none; }
  .production-item__img {
    height: 75vh; }
  .products-item__img {
    height: 70vh; }
  .blog-item {
    display: flex;
    flex-direction: row;
    height: 30vh !important;
    width: 65% !important;
    border: none;
    border-right: 10px solid #ffd600;
    margin-bottom: 12vh !important;
    margin-left: auto;
    margin-right: auto; }
  .swiper-wrapper {
    padding-top: 5vh; }
  .card-img-top {
    width: 35% !important; }
  .map {
    height: 70vh;
    margin-top: 5vh; } }
