* {
  box-sizing: border-box; }

body {
  background: url("../img/background.jpg");
  font-size: 12px;
  font-family: verdana, arial, sans-serif; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

.header {
  margin: 0 auto 30px;
  min-height: 90px; 
  max-width: 850px; }

.header-logo {
  float: left;
  margin-top: 35px;
  min-width: 160px;
  min-height: 40px;
  width: 200px }

li {
  display: inline-block;
  list-style: none; }

li.active a {
  background: -moz-linear-gradient(top, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  background: -webkit-linear-gradient(top, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  background: #0f8bbe;
  background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8bbe', endColorstr='#0eb7fe',GradientType=0 ); }

li:hover:not(.active) a {
  background-color: rgba(255, 255, 255, 0.2); }

li a {
  margin-left: 7px;
  padding: 12px 15px;
  border-radius: 15px;
  color: #fefefe;
  text-decoration: none;
  text-transform: uppercase; }

.slogan {
  color: #b3b3b3;
  margin-left: 64px;
  font-size: 11px; }

.header-menu {
  float: left;
  margin-top: 40px;
  width: calc(100% - 200px);
  text-align: right; }
  .header-menu ul {
    display: table;
    padding: 0; }
  .header-menu.active ul {
    display: table !important;
    clear: both; }
  .header-menu__list {
    display: inline-block;
    list-style: none; }
    .header-menu__list.active a {
      background: #0f8bbe;
      background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8bbe', endColorstr='#0eb7fe',GradientType=0 ); }
    .header-menu__list:hover:not(.active) a {
      background-color: rgba(255, 255, 255, 0.2); }
    .header-menu__list a {
      margin-left: 7px;
      padding: 12px 15px;
      border-radius: 15px;
      color: #fefefe;
      text-decoration: none;
      text-transform: uppercase; }

.header-menu__btn {
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: right;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.header-menu__btn-row {
  position: relative;
  margin: 2px 0;
  width: 60%;
  height: 2px;
  background-color: #fff;
  transition: all .5s; }

.header-menu__btn.active .header-menu__btn-row:first-child {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.header-menu__btn.active .header-menu__btn-row:last-child {
  top: -6px;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg); }

.header-menu__btn.active .header-menu__btn-row:nth-child(2) {
  opacity: 0; }

.content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
  min-height: 200px;
  max-width: 820px;
  background: rgba(255, 255, 255, 0.1); }

.content-bottom-left__wrapper, .content-bottom-right__wrapper {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); }

.content-bottom {
  box-sizing: border-box;
  width: 49.95%;
  background-color: #efefef; }
  .content-bottom-left__wrapper {
    position: relative;
    padding: 20px 15px 25px;
    border: 5px solid #ffffff;
    border-right: none; }
    .content-bottom-left__wrapper::after {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-right: 1px solid #e4e4e4;
      content: ""; }
  .content-bottom-right__wrapper {
    padding: 20px 15px 25px;
    border: 5px solid #ffffff;
    border-left: none; }
  .content-bottom-left > div {
    border: 1px solid #e4e4e4;
    border-right: none; }
  .content-bottom-right > div {
    border: 1px solid #e4e4e4;
    border-left: none; }
  .content-bottom p {
    margin: 0;
    color: #858585;
    text-align: justify;
    line-height: 1.5em; }
  .content-bottom img {
    float: left;
    padding: 0 10px 10px 0; }

.content-bottom-left {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  padding: 15px 0 15px 15px; }

.content-bottom-right {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  padding: 15px 15px 15px 0; }

.main {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  box-sizing: border-box;
  padding: 15px;
  width: calc(100% - 36.2%);
  background-color: #efefef; }
  .main h2 {
    margin: 10px 0;
    color: #0b81be;
    font-weight: normal;
    font-size: 24px; }
  .main p {
    color: #858585;
    text-align: justify;
    line-height: 1.5em; }
    .main p i {
      color: #424242; }

.left-sidebar {
  position: relative;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  width: 36.2%;
  background-color: #efefef;
  box-sizing: border-box;
  padding: 0 15px 0 20px; }
  .left-sidebar h2 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 24px;
    margin: 10px 0; }
  .left-sidebar p {
    color: #858585;
    text-align: justify;
    line-height: 1.5em; }
  .left-sidebar ul {
    padding-left: 20px; }
  .left-sidebar li {
    padding-left: 5px;
    border-bottom: 1px solid #e4e4e4;
    color: #858585;
    list-style: none;
    font-style: italic;
    line-height: 36px; }
    .left-sidebar li::before {
      position: absolute;
      margin-left: -15px;
      content: url("../img/main-list-arrow.png"); }
  .left-sidebar::after {
    position: absolute;
    top: 15px;
    right: 0;
    height: 90%;
    border-right: 1px solid #e4e4e4;
    content: ""; }

.carousel {
  position: relative;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  padding: 15px;
  width: 99.99%;
  background-color: #efefef; }

.carousel-item {
  position: relative; }
  .carousel-item__image {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: 1px solid #e4e4e4; }
  .carousel-item__icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(32% - 7px);
    height: calc(100% - 14px);
    text-align: right; }
    .carousel-item__icon img {
      margin-top: 8%;
      max-width: 95%; }
  .carousel-item__text {
    position: absolute;
    top: 6px;
    right: 6px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 30px 0 10px;
    width: calc(68% - 7px);
    height: calc(100% - 14px);
    color: #ffffff; }
    .carousel-item__text h3 {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 24px; }

.carousel-control {
  position: absolute;
  top: 50%; }
  .carousel-control img {
    margin-top: -15px; }
  .carousel-control.left {
    left: 5px; }
  .carousel-control.right {
    right: 5px;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 850px; }

.footer {
  display: table;
  min-height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .footer-right {
    width: calc(100% - 310px); }
  .footer-logo {
    width: 100%;
    text-align: center; }

.footer-menu {
  float: right;
  margin-top: 35px;
  min-height: 40px; }
  .footer-menu ul {
    padding: 0; }
  .footer-menu li {
    display: inline-block;
    list-style: none; }
    .footer-menu li:hover:not(.active) a {
      background-color: rgba(255, 255, 255, 0.2); }
    .footer-menu li a {
      margin-left: 7px;
      padding: 10px 12px;
      border-radius: 15px;
      color: #fefefe;
      text-decoration: none;
      text-transform: uppercase; }

.bottom-logo {
  margin-top: 20px;
  text-align: right; }

.twitter {
  width: 310px; }
  .twitter__img {
    float: left;
    margin-top: 30px; }
  .twitter__specification {
    float: left;
    margin: 40px 0 0 15px; }
  .twitter__specification-first {
    display: block;
    color: #ffffff;
    font-size: 24px; }
  .twitter__specification-second {
    color: #727272; }
  .twitter__speech {
    position: relative;
    margin: 12px 30px 30px 37px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4); }
    .twitter__speech::before {
      position: absolute;
      top: -19px;
      left: 0;
      content: url("../img/twitter-speech-bubble.png"); }
  .twitter__speech-text {
    color: #858585;
    line-height: 18px; }
  .twitter__speech-date {
    color: #0b81be;
    font-style: italic;
    font-size: 10px; }

.bottom-slogan {
   margin: 0px;
   color: #b3b3b3;
   font-size: 11px; }

.copyright {
  margin-top: 57px;
  color: #ffffff;
  text-align: right; }

@media (max-width: 850px) {
  .header {
    padding: 0 20px; }
  .header-logo {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 30px; }
  .header-menu {
    float: none;
    width: 100%; }
    .header-menu ul {
      margin: 0 auto; }
  .wrapper {
    padding: 0 20px; }
  .twitter {
    width: 100%; }
  .footer-right {
    width: 100%; }
  .footer-bottom {
    margin: 30px 0; }
  .footer-menu {
    width: 100%;
    float: none;
    text-align: center; }
  .bottom-logo {
    text-align: center; }
  .copyright {
    margin-top: 15px;
    text-align: center; } }

@media (max-width: 720px) {
  .header {
    margin: 0 auto; }
  .header-menu {
    display: table;
    margin: 35px -20px 0;
    width: calc(100% + 40px);
    background: rgba(0, 0, 0, 0.4); }
    .header-menu__btn {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .header-menu ul {
      display: none;
      width: 100%; }
    .header-menu li {
      display: block; }
    .header-menu a {
      display: block;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      border-radius: 0;
      text-align: center; }
    .header-menu__list.active a {
      margin: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0; }
  .main {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4; }
  .left-sidebar {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    width: 100%; }
    .left-sidebar__item {
      display: flex; }
  .content-bottom-left {
    padding: 15px 15px 0 15px;
    width: 100%; }
    .content-bottom-left > div {
      border: none; }
    .content-bottom-left__wrapper {
      border: 5px solid #ffffff; }
  .content-bottom-right {
    padding: 15px;
    width: 100%; }
    .content-bottom-right__wrapper {
      border: 5px solid #ffffff; }
  .footer-menu {
    display: none; } }

@media (max-width: 640px) {
  .carousel-item__text p {
    display: none; } }

@media (max-width: 480px) {
  .main {
    padding-top: 5px; }
  .carousel {
    display: none; } }


