* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}


