@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/Myriad-pro.woff') format('woff');

  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaNeue Regular';
  src: url('../fonts/HelveticaNeue.woff') format('woff');

  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova Regular";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  
  font-weight: normal;
  font-style: normal;
}
