
@media screen and (max-width: 1200px) {
.posts {

  &__description {
    left: 25%;

    p {
      top: 9rem;
      margin-left: -1.5rem;
    }
  }
}
}

@media screen and (max-width: 991px) {
  .header  {

    &__title {
      justify-content: center;
    }

    &__info {
      justify-content: center;
    }

    &__date {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }

.header {

  &__date-wrap {

    .date {
      padding-left: 1.1rem;
      padding-right: 1rem;
      padding-bottom: 0.4rem;
      padding-top: 0.8rem;
    }

    .close {
      right: 37px;
      padding-top: 1.2rem;
      padding-bottom: 0.8rem;

    }
  }
}
.posts {
  .description-changes {
    top: 63%;
    p {
      top: 103%;
    }
}
}
}
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }

  .header {

    &__date {
      flex-direction: column;
    }

    &__title {
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 2rem;
        padding: 1rem;
      }
    }

    &__info-wrap {
      margin: 0 auto;
    }

    &__date-wrap {
      position: relative;
      margin-top: 2rem;
  
      
      .date {
        top: 1px;
        right: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #ebebeb;
        padding: 0.8rem;
        padding-left: 1.2rem;
        padding-bottom: 0.92rem;
        border-right: 1px solid #cccccc;
      }
      .close {
        background: #ebebeb;
        padding: 1.18rem;
        padding-bottom: 1.15rem;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        right: 40px;
        top: 1px;
      }
    }
  }
  .posts {

    &__description {
      left: 28%;
      transform: translateX(-10%);
    }
  }
}
@media screen and (max-width: 490px) {
  .posts {

    &__description {
      left: 20%;
      transform: translateX(20%);
    }
  }
}
@media screen and (max-width: 376px) {
  html {
    font-size: 8px;
  }
  .header {

    &__date-wrap {

      .date {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }
      .close {
        right: 36px;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }
    }
  }
  .posts {

    &__description {
      left: 20%;
      // transform: translateX(-5%);
    }
  }
}