header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}
.container { 
	width: 930px;
	margin: 0 auto;
	.logo {
	margin: 41px 0 0 0;
	float: left;
	}
}
nav {
	margin-top: 50px;
	float: right;
}
.menu { a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
		padding: 0;
		margin: 0;
		display: block;
		li { 
			margin-right: 41px;
			float: left;
			display: block;
		}
	}
	.titles { h1 {
		font-size: 75px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin: 15px;
	}
	.titles__first {
		margin-top: 180px;
		font-size: 40px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
}
.button {
	background-color: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
