.servis {
	padding-bottom: 120px;
}
.title {
	padding-top: 115px;

	p{color: #777777;
		text-align: center;
		font-size: 16px;
		margin-top: 5px;


	}
	h2{
		font-size: 40px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin: 0;


	}
}
.services {
	margin-top: 80px;
}
.services__item {
	h3 {
		font-size: 18px;
		margin-bottom: 5px;


	}
	p {
		color: #777777;
		font-size: 14px;
		line-height: 1.55em;
	}
	width: 270px;
	float: left;
	text-align: center;
}
.services__item:last-child {
 	float: right;
}
.services__item:nth-child(2) {
	margin-left: 60px;
}
.portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;

}
.works {
	margin-top: 70px;
	img{
		float: left;
	}
}
.works img:nth-child(2) {
	margin-left: 29px;
}
.works img:last-child {
	float: right;
}
.about 		{
	display: block;
	margin: 0 auto;
}
.about__item {
	img {
		float: left;
		display: block;
		margin: 0 auto;
		width: 185px;
		height: 185px;
	}
	h3 {
		font-size: 15px;
		margin-bottom: 5px;
		line-height: 1.1em;


	}
	p {
		color: #777777;
		font-size: 14px;
		line-height: 1.2em;
	}
	width: 327px;
	margin-left: 32%;
}
