div {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.about__item clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}