* {
	  margin: 0;
	  padding: 0;
	}

	.snow {
	  width: 100vw;
	  height: 100vh;
	  background-color: #6b92b9;
    background-image: 
    url('../img/snow.png'),
	  url('../img/snow2.png'),
	  url('../img/snow3.png');
	  -webkit-animation: snow 20s linear infinite;
	  -moz-animation: snow 20s linear infinite;
	  -ms-animation: snow 20s linear infinite;
	  animation: snow 20s linear infinite;
	}

	@keyframes snow {
	  0% {
	    background-position: 0px 0px, 0px 0px, 0px 0px;
	  }

	  100% {
	    background-position: 500px 1000px, 400px 400px, 300px 300px;
	  }
	}

	@-moz-keyframes snow {
	  0% {
	    background-position: 0px 0px, 0px 0px, 0px 0px;
	  }

	  100% {
	    background-position: 500px 1000px, 400px 400px, 300px 300px;
	  }
	}

	@-webkit-keyframes snow {
	  0% {
	    background-position: 0px 0px, 0px 0px, 0px 0px;
	  }

	  50% {
	    background-color: #b4cfe0;
	  }

	  100% {
	    background-position: 500px 1000px, 400px 400px, 300px 300px;
	    background-color: #6b92b9;
	  }
	}

	@-ms-keyframes snow {
	  0% {
	    background-position: 0px 0px, 0px 0px, 0px 0px;
	  }

	  100% {
	    background-position: 500px 1000px, 400px 400px, 300px 300px;
	  }
	}

	h2 {
	  width: 400px;
	  text-align: center;
	  color: white;
	  font: 50px/1 'Spirax', cursive;
	  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, 50%);
	}


