.benefit {
  background: #f7f7f7;
  margin-top: 5rem;
  height: 80rem;
  &__title {text-align: center;
    h2 {
      font-family: "MuseoSansCyrl-700";
      font-size: 5.2rem;
    }
  }
  &__title-choise {
    p {
      margin-top: 0;
      font-family: "MuseoSansCyrl-500";
      font-size: 5.2rem;
    }
  }
  &__switch-wrap {
    display: flex;
    justify-content: space-around;
    border: 1px solid #b3b4b5;
    border-radius: 40px;
    width: 64%;
    background: #ffffff;
    a {
      padding: 1.5rem;
      font-family: "MuseoSansCyrl-300";
      font-size: 2.4rem;
      color: #b3b4b5;

    }
  }
  .shadow {
    color: #000000;
    border-radius: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);

  }
  .active-swich {
    display: block;
  }
  &__switch-title {
    display: none;
    margin-top: 3rem;
    p {
      font-family: "MuseoSansCyrl-300";
      font-size: 2.2rem;
      span {
        text-transform: uppercase;
        font-family: "MuseoSansCyrl-500";
        font-size: 2.2rem;
      }
    }
  }
  
  &__list-wrap {
    display: none;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 22.68px 4.32px rgba(179, 180, 181, 0.34);
      margin-bottom: 7rem;
      padding: 2.5rem;
      a {
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        text-transform: uppercase;
        display: inline-block;
        padding: 1rem 2rem;
        font-family: "MuseoSansCyrl-500";
        font-size: 1.8rem;
        color: #ffffff;
        background: #4772f0;
        margin-left: 60%;
        &:hover {
            box-shadow: 0px 0px 22.68px 4.32px rgba(71, 114, 240, 0.34);
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
      }
    
  }
  &__list-item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    img {
      margin-right: 2rem;
    }
    p {
      font-family: "MuseoSansCyrl-300";
      font-size: 1.8rem;
      font-weight: normal;
    }
  }
}

