* {
  box-sizing: border-box;
}


html {
  font-size: 10px;
  // scroll-behavior: smooth;
}
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}


input {
  outline: none;
  padding-left: 0.5rem;
}



@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.btn-call {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: fixed;
  top: 70%;
  left: 10%;
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 100000;
}

.btn-pulse {
  background-color: rgba(114, 118, 172, 0.5);
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
}

.btn-pulse-inner {
  background-color: rgb(71, 114, 240);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  img {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .btn-pulse-inner {
    img {
      width: 50%;
    }
  }
  html {
      font-size: 8px;
  }
}

