.footer {
  background: #2f2f2f;
  &__contacts-list {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-family: "MuseoSansCyrl-100";
      color: #ffffff;
      font-size: 1.8rem;
    }
    span {
      font-family: "MuseoSansCyrl-300";
      color: #ffffff;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  &__line-top {
    margin-top: 6rem;
  }
  &__line-bottom {
    margin-bottom: 4rem;
  }
  &__title {
    font-family: "MuseoSansCyrl-700";
    font-size: 2.4rem;
    color: #ffffff;
    text-align: center;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      
    }
    span {
      font-family: "MuseoSansCyrl-500";
      font-size: 1.8rem;
      color: #ffffff;
    }
  }
  &__bottom {
    padding-bottom: 2rem;
  }
  &__copyright {
    background: #282828;
    height: 6rem;
    &--link {
      display: flex;
      align-items: center;
      a {
        margin-top: 2rem;
        font-family: "MuseoSansCyrl-100";
        font-size: 1.6rem;
        color: #ffffff;
        // padding-top: 2rem;
        
      }
    }
  }
}