.reviews {
  background: #f7f7f7;
  margin-top: 5rem;
  // margin-bottom: 5rem;
  padding-bottom: 5rem;

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 0;

    h2 {
      font-family: "MuseoSansCyrl-700";
      font-size: 5.2rem;
      margin: 2rem 0 0 1rem;
    }
  }

  &__img {
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    img {
      box-shadow: 5px 10px 20px rgba(0,0,0,.5);
      border-radius: 50%;
      width: 100%;
    }
  }

  &__nav {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    display: none;
  }

  .item-nav {
    padding: 1rem 1.5rem;
    opacity: 0.3;
    cursor: pointer;
    border: 1px solid #000;
    display: flex;

    &:hover {
      opacity: 1;
    }
  }
  &__right {
    padding-left: 5rem;
  }
  &__txt {
    font-family: "MuseoSansCyrl-300";
    font-size: 2rem;
    line-height: 3rem;
  }

  &__author {
    text-align:left;
    // margin-top: 5rem;

    p {
      position: relative;
      margin-top: 0;
      font-family: "MuseoSansCyrl-300Italic";
      font-size: 2rem;
      line-height: 1.6rem;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        background: #b3b4b5;
        height: 2px;
        top: 170%;
      }
    }

  }

  .owl-nav {
    position: absolute;
    left: 4.5%;
    top: 18.5rem;
  }
}


