@font-face {
  font-family: GothamLight;
  src: url(../fonts/GothamPro-Light.woff2); }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff2); }

html {
  font-size: 10px; }

body {
  background-color: #0C0C0C;
  font-family: Montserrat;
  font-size: 1.4rem;
  color: #fefefe; }

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0; }

input,
select {
  opacity: 0.4; }
  input:focus,
  select:focus {
    opacity: 1;
    transition: all 0.3s; }

input,
select,
option {
  outline: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #A76D45;
  color: #fefefe;
  width: 19rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  outline: none !important;
  position: relative;
  overflow: hidden; }
  button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #A76D45;
    transition: all 0.3s;
    z-index: -1;
    height: 100%;
    bottom: -100%; }
  button:hover:before {
    height: 100%;
    transition: all 0.3s;
    bottom: 0; }
  button:focus {
    border: none; }

.line {
  width: 100%;
  height: 4px;
  background-color: #A76D45;
  margin-top: 8rem;
  margin-bottom: 5rem; }

.owl-dots {
  position: absolute;
  top: 25%;
  left: 1%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center; }

.owl-carousel button.owl-dot {
  width: 5px;
  height: 5px;
  background-color: #fefefe;
  margin-bottom: 3rem;
  border-radius: 50%; }

.owl-carousel button.owl-dot.active {
  background-color: #A76D45;
  width: 9px;
  height: 9px;
  border: 1px solid #A76D45;
  position: relative; }

.owl-nav {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%; }
  .owl-nav .next,
  .owl-nav .prev {
    background-color: #0C0C0C;
    width: 50%;
    height: 3rem;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A76D45; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-color: #0C0C0C;
  font-size: 2.6rem !important;
  color: #A76D45;
  margin-right: 2px !important;
  width: 50%; }
  .owl-carousel .owl-nav button.owl-prev:hover,
  .owl-carousel .owl-nav button.owl-next:hover {
    background-color: #A76D45;
    color: #fefefe;
    transition: all 0.3s; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes servLeft {
  from {
    margin-left: 6rem; }
  to {
    margin-left: -7.6px; } }

@keyframes servDot {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (min-width: 320px) {
  .header {
    display: flex;
    align-items: center;
    height: 7rem; }
    .header-small {
      display: none;
      position: absolute;
      z-index: 999;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      padding-top: 8rem; }
      .header-small-nav {
        margin-bottom: 3rem; }
        .header-small-nav ul li {
          margin-bottom: 1.5rem; }
          .header-small-nav ul li.active a {
            color: #fefefe; }
          .header-small-nav ul li a {
            color: #656565; }
      .header-small-contacts ul li {
        margin-bottom: 1.5rem; }
        .header-small-contacts ul li a {
          color: #fefefe; }
    .header-menu__mobile {
      color: #A76D45;
      margin-right: -5rem;
      font-size: 1.6rem;
      z-index: 1000; }
      .header-menu__mobile .close {
        color: #A76D45;
        font-size: 4rem;
        display: none; }
    .header-logo {
      margin: auto; }
    .header-nav, .header-contacts {
      display: none; }
  .main {
    overflow: hidden;
    height: 105vh;
    margin-bottom: 3rem; }
    .main .dotted {
      position: absolute; }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(200%); }
    to {
      opacity: 1;
      transform: translateY(0); } }
    .main-description {
      order: 2;
      color: #fefefe;
      padding-right: 5%;
      padding-left: 5%;
      margin-right: auto;
      margin-left: auto;
      transform: translateX(-200%); }
      .main-description.active {
        animation: fadeInLeft 1.5s 1.5s forwards; }
      .main-description__txt {
        margin: 2rem 0;
        font-size: 1.4rem;
        font-weight: 600; }
    .main-container {
      padding: 0;
      margin: 0;
      width: 100%; }
    .main-wrap {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100vw; }
    .main-image {
      order: 1;
      width: 100vw;
      height: 65vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative; }
      .main-image__wrap {
        transform: translateY(200%); }
        .main-image__wrap.active {
          animation: fadeInUp 1s 0.5s forwards; }
      .main-image-1 {
        background-image: url(../img/bg-1.jpg); }
      .main-image-2 {
        background-image: url(../img/bg-2.jpg); }
      .main-image-3 {
        background-image: url(../img/bg-3.jpg); }
      .main-image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3); }
    .main .dots-main {
      display: flex;
      justify-content: center;
      z-index: 99;
      flex-direction: column;
      position: absolute;
      top: 52%;
      left: 8%; }
      .main .dots-main .services-dots {
        display: flex;
        margin-top: -4rem;
        flex-direction: column; }
        .main .dots-main .services-dots li {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem; }
          .main .dots-main .services-dots li.active {
            border: 1px solid #A76D45; }
            .main .dots-main .services-dots li.active div {
              background-color: #A76D45; }
          .main .dots-main .services-dots li div {
            width: 7px;
            height: 7px;
            background-color: #fefefe;
            border-radius: 50%; }
  .dotted {
    background-image: url(../img/dots_cargo.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: 20rem;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat; }
  .about-us {
    color: #fefefe;
    overflow-x: hidden; }
    .about-us-image {
      width: 100%;
      height: 45vh;
      background-image: url(../img/img1.jpg);
      background-size: cover;
      background-position: center left;
      position: absolute;
      left: 0; }
    .about-us-head {
      color: #A76D45;
      font-size: 1.9rem;
      font-weight: 600;
      margin-top: calc(45vh + 3rem);
      margin-bottom: 3rem; }
      .about-us-head.active {
        animation: fadeInRight 1s 0.5s forwards; }
    .about-us-txt {
      font-size: 1.4rem; }
      .about-us-txt.active {
        animation: fadeInRight 1s 1s forwards; }
    .about-us-cap {
      margin-top: 2.5rem;
      margin-bottom: 5rem;
      font-size: 1.6rem; }
      .about-us-cap.active {
        animation: fadeInRight 1s 1.5s forwards; }
    .about-us-head, .about-us-txt, .about-us-cap {
      transform: translateX(300%); }
  .our-services {
    margin-top: 5rem;
    margin-bottom: 5rem; }
    .our-services-wrap {
      border-left: 2px solid #2D2119; }
    .our-services-header {
      font-size: 1.9rem;
      font-weight: 600;
      margin-bottom: 3rem; }
    .our-services-head {
      margin-bottom: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: -7.6px; }
      .our-services-head:hover .our-services-head__txt {
        color: #fefefe;
        transition: all 0.3s; }
      .our-services-head__txt {
        display: flex;
        align-items: center;
        color: #656565; }
      .our-services-head__dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #2D2119;
        border: 3px solid #A76D45; }
      .our-services-head__num {
        margin: 0 2rem 0 3rem;
        display: block;
        color: #A76D45;
        font-weight: 700;
        font-size: 1.6rem;
        margin-top: 1px; }
    .our-services-body {
      display: none;
      padding: 0 1rem; }
      .our-services-body__up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -3rem;
        color: #A76D45;
        margin-bottom: 3rem; }
        .our-services-body__up i {
          font-size: 2rem; }
  .special-offer {
    margin-bottom: 5rem; }
    .special-offer-head {
      color: #A76D45;
      font-size: 1.9rem;
      font-weight: 700; }
    .special-offer-cap {
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .special-offer-form {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column; }
      .special-offer-form input {
        width: 100%;
        margin-bottom: 4rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #A76D45;
        color: #fefefe; }
      .special-offer-form button {
        margin-top: 2.5rem; }
  .benefits {
    overflow: hidden;
    margin-bottom: 3rem; }
    .benefits-items {
      transform: translateX(300%); }
      .benefits-items:nth-of-type(1) {
        animation-delay: 0.2s !important; }
      .benefits-items:nth-of-type(2) {
        animation-delay: 0.4s !important; }
      .benefits-items:nth-of-type(3) {
        animation-delay: 0.6s !important; }
      .benefits-items.active {
        animation: fadeInRight 1s 0.2s forwards; }
    .benefits-list {
      margin-left: 2.5rem;
      margin-bottom: 2rem;
      display: flex; }
      .benefits-list .num {
        color: #656565;
        margin-right: 2rem;
        display: block; }
    .benefits-head {
      font-size: 1.9rem;
      font-weight: 700;
      margin-bottom: 3rem;
      margin-top: 3rem; }
    .benefits-item {
      margin-bottom: 4rem; }
      .benefits-item__head {
        display: flex;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        color: #A76D45; }
      .benefits-item__dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #2D2119;
        border: 3px solid #A76D45;
        margin-right: 1.5rem;
        margin-left: -7.4px; }
    .benefits-wrap {
      position: relative; }
      .benefits-wrap::before {
        content: '';
        position: absolute;
        left: 15px;
        height: 100%;
        width: 2px;
        background-color: #2D2119; }
  .algorythm {
    margin-bottom: 3rem; }
    .algorythm-head {
      font-size: 1.9rem;
      font-weight: 700;
      margin-bottom: 3rem; }
    .algorythm-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2.5rem;
      opacity: 0; }
      .algorythm-item:nth-of-type(1) {
        animation-delay: 0.4s !important; }
      .algorythm-item:nth-of-type(2) {
        animation-delay: 0.8s !important; }
      .algorythm-item:nth-of-type(3) {
        animation-delay: 1.2s !important; }
      .algorythm-item.active {
        animation: show 1s forwards; }
      .algorythm-item-body__head {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0.5rem; }
      .algorythm-item-body__txt {
        color: #656565; }
      .algorythm-item-body__txtt {
        color: transparent; }
      .algorythm-item__num {
        color: #A76D45;
        font-weight: 700;
        margin-right: 2.5rem; }
  .services-types-head {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .services-types-image {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
  .services-types .service-item {
    margin-bottom: 8rem;
    margin-right: 1rem; }
  .services-types .owl-carousel .owl-nav button.owl-prev, .services-types .owl-carousel .owl-nav button.owl-next {
    background-color: #0C0C0C;
    font-size: 2.6rem !important;
    color: #A76D45;
    margin-right: 2px !important;
    width: 50%;
    display: none; }
  .services-types .dots {
    display: flex;
    justify-content: center; }
    .services-types .dots .services-dots {
      display: flex;
      margin-top: -4rem; }
      .services-types .dots .services-dots li {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem; }
        .services-types .dots .services-dots li.active {
          border: 1px solid #A76D45; }
          .services-types .dots .services-dots li.active div {
            background-color: #A76D45; }
        .services-types .dots .services-dots li div {
          width: 7px;
          height: 7px;
          background-color: #fefefe;
          border-radius: 50%; }
  .calc-head {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #A76D45; }
  .calc-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .calc-item .select {
      width: 100%;
      position: relative; }
      .calc-item .select i {
        color: #A76D45;
        position: absolute;
        right: 1rem;
        top: 0.8rem;
        z-index: 2;
        opacity: 0.4;
        cursor: pointer; }
    .calc-item input {
      width: 100%;
      margin-bottom: 4rem;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #A76D45;
      color: #fefefe;
      height: 3rem; }
    .calc-item select {
      width: 100%;
      margin-bottom: 4rem;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #A76D45;
      color: #757575;
      height: 3rem;
      -webkit-appearance: none;
      cursor: pointer; }
    .calc-item option {
      border: none;
      background-color: #0C0C0C; }
      .calc-item option:focus {
        background-color: #A76D45; }
      .calc-item option:checked {
        background-color: #A76D45;
        color: #fefefe;
        height: 3rem;
        z-index: 999; }
      .calc-item option:hover {
        background-color: #A76D45 !important; }
  .footer {
    margin-bottom: 3rem; }
    .footer-copy__small {
      display: flex;
      justify-content: center;
      color: #656565;
      font-size: 1.2rem; }
    .footer a {
      color: #656565; }
      .footer a:hover {
        color: #fefefe;
        transition: all 0.3s; }
    .footer-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
    .footer-item-contacts {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .footer-item-contacts ul li a {
        color: #fefefe; }
    .footer-item__logo, .footer-item__copy {
      display: none; }
    .footer-item ul li {
      margin-bottom: 1.5rem; }
    .footer-item__navigation {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
  .blog-item {
    margin-bottom: 3rem; }
    .blog-item__image {
      width: 100%;
      height: 35rem;
      background-position: center;
      background-size: cover;
      position: relative; }
      .blog-item__image::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5); }
    .blog-item__head {
      color: #A76D45;
      font-size: 1.9rem;
      font-weight: 700;
      padding-bottom: 1.8rem;
      margin-bottom: 1.8rem;
      margin-top: 3rem;
      border-bottom: 1px solid #A76D45; }
    .blog-item__body {
      margin-bottom: 3rem; }
    .blog-item__link {
      display: flex;
      justify-content: center; }
    .blog-item__right {
      order: -1;
      position: relative; }
  .dotted-blog {
    z-index: 0 !important;
    background-size: cover; }
  .contacts {
    margin-top: 5rem; }
    .contacts-wrap {
      flex-direction: column-reverse; }
    .contacts i {
      color: #A76D45;
      margin-right: 1.5rem; }
    .contacts-item {
      margin-bottom: 3rem; }
      .contacts-item form {
        margin-top: 4rem; }
        .contacts-item form input {
          width: 100%;
          margin-bottom: 4rem;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #A76D45;
          color: #fefefe; }
        .contacts-item form p {
          color: #A76D45;
          font-size: 1.9rem;
          font-weight: 500; }
      .contacts-item__contacts {
        font-size: 1.2rem; }
        .contacts-item__contacts div {
          display: flex;
          align-items: center;
          margin-bottom: 2rem; }
          .contacts-item__contacts div:nth-last-of-type(2) {
            align-items: flex-start; }
            .contacts-item__contacts div:nth-last-of-type(2) i {
              transform: rotate(90deg); }
        .contacts-item__contacts ul li a {
          color: #fefefe; }
      .contacts-item__buttons {
        display: flex;
        margin-bottom: 2rem; }
        .contacts-item__buttons button {
          margin-right: 2.5rem;
          width: 30%; }
  .dotted-contacts {
    display: none; } }

@media (min-width: 576px) {
  .blog-item {
    margin-bottom: 3rem; }
    .blog-item__image {
      height: 45rem; } }

@media (min-width: 768px) {
  .header {
    padding: 0;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 10rem; }
    .header-menu__mobile {
      display: none; }
    .header-logo {
      margin: 0; }
    .header-nav {
      display: block; }
      .header-nav ul {
        display: flex; }
        .header-nav ul .active {
          border-top: 3px solid #A76D45; }
          .header-nav ul .active a {
            color: #fefefe; }
        .header-nav ul li {
          margin-right: 7rem;
          height: 10rem;
          display: flex;
          align-items: center; }
          .header-nav ul li a {
            color: #616161; }
          .header-nav ul li:last-child {
            margin-right: 0; }
    .header-contacts {
      display: block; }
      .header-contacts ul li a {
        color: #fefefe; }
  .dotted {
    top: 10rem; }
  .about-us-head {
    margin-bottom: 5rem;
    margin-top: 0;
    font-size: 3.4rem; }
  .about-us-image {
    height: 70vh;
    position: static; }
  .about-us-btn {
    display: none; }
  .about-us-txt {
    margin-bottom: 8rem; }
  .special-offer input {
    width: 75%; } }

@media (min-width: 998px) {
  .main-description {
    order: 0;
    color: #fefefe;
    padding-right: 0;
    padding-left: 0;
    margin-right: -17rem;
    margin-left: auto;
    width: 35vw;
    transform: translateX(-200%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    height: 20vh; }
    .main-description__txt {
      font-size: 2rem; }
  .header-nav ul li a:hover {
    color: #fefefe; }
  .main-wrap {
    width: auto;
    align-items: center; }
  .main-image {
    width: 100%; }
  .main-image__wrap {
    width: 70%; }
  .main-image {
    order: 3;
    width: 100%;
    height: 85vh; }
  .main-wrap {
    display: flex;
    flex-direction: row;
    overflow: hidden; }
  .main-container {
    margin: 0 auto; }
  .dotted {
    width: 36vw;
    height: 45rem;
    background-size: cover; }
  .owl-dots {
    top: 43%;
    left: 8%; }
  .owl-nav {
    display: block;
    width: 10%;
    left: 5%;
    z-index: 999; }
  .main {
    margin-bottom: 5rem; }
  .our-services {
    overflow: hidden; }
    .our-services-wrap {
      border-left: 2px solid #2D2119;
      position: relative; }
    .our-services-header {
      font-size: 3.4rem;
      font-weight: 600;
      margin-bottom: 5rem; }
    .our-services-head {
      margin-left: 6rem; }
      .our-services-head.active {
        animation: servLeft 0.5s forwards; }
        .our-services-head.active .our-services-head__dot {
          animation: servDot 1s forwards; }
      .our-services-head__txt {
        display: flex;
        align-items: center;
        color: #656565; }
        .our-services-head__txt.active {
          color: #fefefe; }
      .our-services-head__dot {
        opacity: 0; }
    .our-services__num {
      margin: 0 2rem 0 3rem;
      display: block;
      color: #A76D45;
      font-weight: 700;
      font-size: 1.6rem;
      margin-top: 1px; }
    .our-services-body {
      position: absolute;
      width: 60%;
      left: 40%;
      display: none;
      top: 0;
      transform: translateX(300%); }
      .our-services-body.active {
        display: block;
        animation: fadeInRight 1s 0.3s forwards; }
      .our-services-body__up {
        display: none; }
  .special-offer-head {
    font-size: 3.4rem; }
  .benefits {
    margin-bottom: 5rem; }
    .benefits-items {
      transform: translateX(500%);
      display: flex;
      flex-direction: column;
      height: 55vh;
      position: relative; }
      .benefits-items:nth-of-type(1) {
        animation-delay: 0.2s !important;
        justify-content: center; }
      .benefits-items:nth-of-type(2) {
        animation-delay: 0.4s !important;
        justify-content: space-around;
        flex-direction: column-reverse; }
        .benefits-items:nth-of-type(2) .benefits-item:first-child {
          margin-bottom: -7.5rem; }
        .benefits-items:nth-of-type(2) .benefits-item:last-child {
          margin-bottom: -4.5rem; }
      .benefits-items:nth-of-type(3) {
        animation-delay: 0.6s !important;
        justify-content: space-between; }
      .benefits-items.active {
        animation: fadeInRight 1s 0.2s forwards; }
        .benefits-items.active .benefits-item {
          animation: show 1s 1s forwards; }
          .benefits-items.active .benefits-item:nth-of-type(1) {
            animation-delay: 1.6s !important; }
          .benefits-items.active .benefits-item:nth-of-type(2) {
            animation-delay: 1.1s !important; }
          .benefits-items.active .benefits-item:nth-of-type(3) {
            animation-delay: 1.8s !important; }
          .benefits-items.active .benefits-item:nth-of-type(4) {
            animation-delay: 1.3s !important; }
          .benefits-items.active .benefits-item:nth-of-type(5) {
            animation-delay: 1.4s !important; }
          .benefits-items.active .benefits-item:nth-of-type(6) {
            animation-delay: 1.1s !important; }
        .benefits-items.active::before {
          content: '';
          position: absolute;
          left: -2px;
          height: 100%;
          width: 2px;
          background-color: #2D2119;
          z-index: -1; }
    .benefits-list {
      margin-left: 2.5rem;
      margin-bottom: 2rem;
      display: flex; }
      .benefits-list .num {
        color: #656565;
        margin-right: 2rem;
        display: block; }
    .benefits-head {
      font-size: 3.4rem;
      margin-bottom: 5rem; }
    .benefits-item {
      opacity: 0;
      margin-bottom: 8rem; }
      .benefits-item:last-child {
        margin-bottom: 0; }
      .benefits-item__head {
        display: flex;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        color: #A76D45;
        align-items: center; }
      .benefits-item__dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #2D2119;
        border: 3px solid #A76D45;
        margin-right: 1.5rem;
        margin-left: -23.4px; }
      .benefits-item__txt {
        font-size: 2.3rem; }
    .benefits-wrap::before {
      display: none; }
  .algorythm {
    margin-bottom: 5rem; }
    .algorythm-head {
      font-size: 3.4rem;
      margin-bottom: 5rem; }
  .services-types-head {
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 5rem; }
  .services-types .dots {
    display: none; }
  .calc-head {
    font-size: 3.4rem;
    font-weight: 500; }
  .footer-copy__small {
    display: none; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .footer-item-contacts .logo-small {
    display: none; }
  .footer-item__logo, .footer-item__copy {
    display: block; }
  .footer-item__copy {
    font-size: 1.2rem;
    color: #656565; }
  .footer-item__logo {
    margin-bottom: 2rem; }
  .footer-item__nav {
    margin-right: 4rem; }
  .footer-item__navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .blog-item {
    margin-bottom: 10rem; }
    .blog-item__image {
      width: 100%;
      height: 50rem;
      background-position: center;
      background-size: cover; }
    .blog-item:nth-of-type(1) {
      margin-top: 5rem;
      z-index: 1; }
    .blog-item:nth-of-type(even) {
      flex-direction: row-reverse; }
    .blog-item__head {
      font-size: 2.7rem;
      border-bottom: none;
      position: relative;
      border-bottom: none; }
      .blog-item__head.odd::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 120%;
        height: 2px;
        background-color: #A76D45;
        z-index: 1; }
      .blog-item__head.even::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120%;
        height: 2px;
        background-color: #A76D45;
        z-index: 1; }
    .blog-item__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .blog-item__right {
      order: 2;
      padding: 0; }
  .contacts-wrap {
    flex-direction: row; }
  .contacts-item__contacts {
    font-size: 1.2rem; }
    .contacts-item__contacts div:nth-of-type(1) {
      align-items: flex-start; } }

@media (min-width: 1200px) {
  .main-description {
    width: 30vw; } }
