@font-face{

    font-family: 'Natasha';
    src: url('../fonts/Natasha.eot');
    src: url('../fonts/Natasha.eot?iefix') format('eot'), 
    url('../fonts/Natasha.woff') format('woff'),
    url('../fonts/Natasha.woff2') format('woff2'),
    url('../fonts/Natasha.ttf') format('truetype'),
    url('../fonts/Natasha.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
    }
 @font-face {
        font-family: 'MuseoSansCyrl-100Italic';
        src: url('../fonts/MuseoSansCyrl-100Italic.eot');
        src: url('../fonts/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl-100Italic.svg#MuseoSansCyrl-100Italic') format('svg'),
             url('../fonts/MuseoSansCyrl-100Italic.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl-100Italic.woff') format('woff'),
             url('../fonts/MuseoSansCyrl-100Italic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
      }
 @font-face {
        font-family: 'MuseoSansCyrl-100';
        src: url('../fonts/MuseoSansCyrl-100.eot');
        src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg'),
             url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
             url('../fonts/MuseoSansCyrl-100.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
      }
      @font-face {
        font-family: 'MuseoSansCyrl-300Italic';
        src: url('../fonts/MuseoSansCyrl-300Italic.eot');
        src: url('../fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl-300Italic.svg#MuseoSansCyrl-300Italic') format('svg'),
             url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
             url('../fonts/MuseoSansCyrl-300Italic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
      }
      @font-face {
        font-family: 'MuseoSansCyrl-300';
        src: url('../fonts/MuseoSansCyrl-300.eot');
        src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg'),
             url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
             url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
      }
      @font-face {
        font-family: 'MuseoSansCyrl-900Italic';
        src: url('../fonts/MuseoSansCyrl-900Italic.eot');
        src: url('../fonts/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl-900Italic.svg#MuseoSansCyrl-900Italic') format('svg'),
             url('../fonts/MuseoSansCyrl-900Italic.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl-900Italic.woff') format('woff'),
             url('../fonts/MuseoSansCyrl-900Italic.woff2') format('woff2');
        font-weight: 900;
        font-style: italic;
      }
      @font-face {
        font-family: 'MuseoSansCyrl900';
        src: url('../fonts/MuseoSansCyrl900.eot');
        src: url('../fonts/MuseoSansCyrl900.eot?#iefix') format('embedded-opentype'),
             url('../fonts/MuseoSansCyrl900.svg#MuseoSansCyrl-900') format('svg'),
             url('../fonts/MuseoSansCyrl900.ttf') format('truetype'),
             url('../fonts/MuseoSansCyrl900.woff') format('woff'),
             url('../fonts/MuseoSansCyrl900.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
      }


    * ,h1 ,p ,div ,img ,ul ,li ,a ,i {
     box-sizing: border-box;
     margin: 0;
     padding: 0;   

    }
    h1 {
        font-family: 'Natasha', sans-serif;
        font-size: 49px;
        font-weight: bold;
        color: #fff;
    }
    h2 {
        margin-top: 80px;
        font-family: 'Natasha', sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #000;
    }
    h3 {
        letter-spacing: 0.2em;
        margin-top: 77px;
        font-family: 'Natasha', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #888886;
    }
    ul , li {
        display: block;
    }
    a {
        text-decoration: none;
    }
    .container {
        width: 940px;
        color: #fff;
    }


    #header {
        display: flex;
        justify-content: center;
        background: url(../img/bg.jpg) no-repeat ;
        background-size: cover;
        height: 100vh;
        padding-top: 45px;
    }
    .header__logo {
        margin-right: 176px;
    }
    .header__logo a {
        font-family: 'MuseoSansCyrl900';
        font-weight: 900;
        font-size: 17px; 
        font-style: normal;
        text-transform: uppercase;
        color: #fff;
    }
.header__menu {
    display: flex;
    justify-content: space-around;
}
.header__nav ul {
    display: flex;
}    
.header__nav--item  {
    font-family: 'MuseoSansCyrl900';
    font-weight: 900;
    font-size: 17px; 
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    margin-right: 50px;
}
.header__nav--item:nth-child(3) {
    margin-right: 0;
}
.header__menu--contacts {
    margin-left: 160px;
}
.header__menu--contacts a {
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-size: 13px; 
    font-style: normal;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
 
}
.header__title h1 {
    letter-spacing: 0.15em;
}
.header__title h1 , p , a  {
    text-align: center;
}
.header__title p {
    font-family: 'MuseoSansCyrl-100';
    font-weight: 100;
    font-size: 29px; 
    font-style: lighter;
    color: #fff;
    letter-spacing: 0.15em;
    margin-bottom: 180px;
}
.header__title i {
    font-size: 34px;
    color: #fff;
}
.header__title a {
    border: 2px dashed #fff;
    border-radius: 50%;
    width: 128px;
    margin: 0 auto;
    padding: 46px 0;
    margin-bottom: 80px;
}
#about {
    background: #fff;
    display: flex;
    justify-content: center;
}
.about__box {
    display: flex;
}
.about__text, about__elements {
    width: 460px;
}
.about__elements {
    display: flex;
}
.about__text p {
    margin-top: 50px;
    color: #000;
    font-size: 15px;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    text-align: left;
    line-height: 1.8;
}
.about__elements {
   flex-direction: column; 
   margin-left: 57px;
   
}
.services {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}
.services__item {
    margin-right: 57px;
}
.services__item p {
    color: #000;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-100';
    font-weight: 100;
    text-align: center;
    
}
.services__item img {
    margin-bottom: 20px;
}
.conection {
    display: flex;
    flex-direction: column;
}
.conection h3 {
    margin-bottom: 39px;
}

.conection__box {
    display: flex;
    flex-direction: row;
}
.conection__item:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin-left: 43px;

}
.conection__item a {
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid #204d15;
    color: #204d15;
}
.conection__item p {
    padding-left: 21px;
    padding-top: 21px;
    font-family: 'MuseoSansCyrl-300Italic';
    font-weight: 300;
    color: #797a77;
}
#skills {
    display: flex;
    justify-content: center;
    background :#fff;
}
.skills__box {
    justify-content: space-between;
    margin-top: 60px;
    display: flex;
    
}
.skills__item {
    display: flex;
margin-left: 40px;
align-items: center;
}
.skills__item span {
margin-left: 30px;
font-family: 'MuseoSansCyrl900';
font-weight: 900;
font-size: 15px;color: #000;

}
.skills__item:nth-child(1) {
    margin-left: 0;
}
#works {
    display: flex;
   justify-content: center;
}
.works__box {
    display: flex;
}
.works__item img {
    margin-right: 20px;
    margin-top: 60px;
}
.works__item {
    position: relative;
}
.overlay {
    opacity: 0;
    position: absolute;
    top: 60px;
    background: rgba(0,0,0, 0.6);
    height: 300px;
    width: 300px;
    text-align: center;

}
.works__item:hover .overlay {
    -moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
  opacity: 1;
}

.overlay h4 {
    padding-top: 130px;
    padding-bottom: 1px;
    font-family: 'MuseoSansCyrl900';
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
.overlay a {
    
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    padding-bottom: 5px;
    border-bottom : 1px solid #fff;

}
footer span {
    color: #22241b;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-size: 13px;
}
footer {
    display: flex;
    justify-content: center;
    margin: 122px 0;
}
@media screen and (max-width: 1024px) {
	#header {
        width: 100%;
        background-size: cover;
    }
    .container {
        width: 95%;
    }
    .header__logo {
        margin-right: 1%;
    }
    .header__title {
        margin-top: 100px;
    }
    .header__title p {
        margin-bottom: 40px;
    }
    .header__menu--contacts {
           margin-left: 10%;
    }
    .about__text p:nth-child(3) {
        display: none;
    }
    .works__item:nth-child(3) {
        display: none;
    }
    .skills__item {
        margin-left: 30px;
    }
    .works__box {
        justify-content: center;
    }
    footer span {
        margin: o 37%;
    }
}
@media screen and (max-width: 768px) {
	#header {
        width: 100%;
        background-size: cover;
    }
    .container {
        width: 95%;
    }
    .header__logo {
        margin-right: 0%;
    }
    .header__title {
        margin-top: 100px;
    }
    .header__title p {
        margin-bottom: 40px;
    }
    .header__menu--contacts {
           margin-left: 0%;
    }
    .about__text p:nth-child(3) {
        display: block;
    }
    .services {
        flex-direction: column;
    }
    .about__elements {
        margin-left: 0;
    }
    .services__item {

        display: flex;
        align-items: center;
    }
    .services__item p{
        margin-left: 20px;
    }
    .header__nav ul {
        display: flex;
        flex-direction: column;
    }
    .about__box {
        flex-direction: column;
    }
    .works__item:nth-child(3) {
        display: block;
    }
    
    .skills__box {
        flex-direction: column;
    }
    .skills__item:nth-child(1) {
margin-left: 30px;
    }
    .skills__item {
        margin-bottom: 30px;
        margin-left: 30px;
    }
    .works__box {
        flex-direction: column;
        justify-content: center;
    }
    footer span {
        margin: o 37%;
    }
}