body{
	background-color: #595f6f;
	font-family: 'Open Sans', sans-serif;
}

img{
	max-width: 100%;
	height: auto;
}



.header{
	position: absolute;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}

.logo{
	width: 180px;
	height: auto;
}

input{
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 10px;

}

.form{
	width: 20%;
	height: 10%;
	padding: 5px;
	margin-left: 62%;

}

.form p{
	padding-top: 1%;
}

.search{
	width: 50px;
	height: auto;
}

.search:hover{
	width: 55px;
	height: auto;
}

.bottom-btn:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.left:before{
	content: '';
	background-image: linear-gradient(#405ca9, #559e9e);
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.right:before{
	content: '';
	background-image: linear-gradient(#a06acd, #d39ae4);
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fixies{
	position: absolute;
	display: inline-block;
	width: 36%;
	height: auto;
	left: 32%;
	top: 35%;
}

.right-btn{
	position: absolute;
	left: 29.5%;
	top: 60%;
	width: 41%;
	height: 9%;
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	font-size: 1.7rem;
	font-weight: 200;
	font-style: italic;
	border: none;
	border-radius: 10px;
}

.left-btn{
	position: absolute;
	left: 29.5%;
	top: 60%;
	width: 41%;
	height: 9%;
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	font-size: 1.7rem;
	font-weight: 200;
	font-style: italic;
	border: none;
	border-radius: 10px;
}

 button:hover{
	background-color: rgba(255, 255, 255, 0.5);


}

.cruisers{
	position: absolute;
	display: inline-block;
	width: 45%;
	height: auto;
	left: 27.5%;
	top: 35%;
}

.footer-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.footer-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
	border-left: 2px solid #4d5362;
	border-right: 2px solid #4d5362;
	
}

.footer-right{
	padding: 10px;
}

.bottom-logo{
	width: ;
	height: auto;
}

.c-logo{
	margin-top: 10%;
}

.paiement{
	color: #a8abb3;
	font-size: 1.5rem;
	margin-top: 10%;
}

.livrashion{
	margin-top: 10%;
}

.livrashion a{
	color: #a8abb3;
	font-size: 20px;
}

.left-li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}


li{
	list-style: none;
	padding: 25px;
	padding-left: 0px;
}

li a{
	color: #a8abb3;
	font-size: 1.7rem;

	
}

.footer-right p{
	color: #fff;
	font-size: 2.5rem;
	
}



.bottom-btn{
	color: #a8abb3;
	font-size: 1.5rem;
	font-style: italic;
	height: 60px;
	width: 80%;
	background-color: 
	rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 13%;
}

.footer-center a:hover{
	color: #a8abb3;
	font-size: 1.5rem;
	text-decoration: none;
}

.contact{
	margin-top: 15%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.contact img{
	margin-right:  
}

@media screen and (max-width: 1230px){
	html{
		font-size: 12px;
	}
}

@media screen and (max-width: 990px){
	.right-ul{
		margin-right: 10%;
	}
	.footer-center{
		margin-top: 5%;
		
	}
	.contact{
		margin-right: 5%;
	}
	.c-logo, .paiement, .bottom-logo, .livrashion{
		margin-top: 5%;
	}
}

@media screen and (max-width: 1420px){
	.footer-right p{
		font-size: 2rem;

	}
}

@media screen and (max-width: 990px){
	html{
		font-size: 16px;
	}
	.footer{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.footer-left{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-center{
		width: 100%;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}

	.right-ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		margin-left: 10%;
		

	}

	.left-ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
	}

	.footer-right{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact{
		width: 30%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	
	.contact img{
		margin-left: 40%;
	}

	.bottom-btn{
		margin-right: 10%;
	}
	
	.inscr {
		width: 40%;
		margin-top: 10%;
	}
	
}