div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}

body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;

  color: #222;}

.clearfix:after {
  display: table;
  clear: both;

  width: 100%;

  content: '';}

.about__item clearfix:after {
  display: table;
  clear: both;

  width: 100%;

  content: '';}

header {
  padding-bottom: 160px;

  background: url(../img/first-bg.jpg) no-repeat center top/cover;}

.container {
  width: 930px;
  margin: 0 auto;}

.container .logo {
  float: left;

  margin: 41px 0 0 0;}

nav {
  float: right;

  margin-top: 50px;}

.menu {
  display: block;

  margin: 0;
  padding: 0;}

.menu a {
  font-size: 14px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;}

.menu li {
  display: block;
  float: left;

  margin-right: 41px;}

.titles h1 {
  font-size: 75px;

  margin: 15px;

  text-align: center;
  text-transform: uppercase;

  color: #fff;}

.titles .titles__first {
  font-size: 40px;

  margin-top: 180px;

  text-align: center;
  text-transform: uppercase;

  color: #fff;}

.button {
  font-size: 18px;
  font-weight: bold;

  display: block;

  width: 240px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #484543;
  border-radius: 3px;
  background-color: #fed136;}

.servis {
  padding-bottom: 120px;}

.title {
  padding-top: 115px;}

.title p {
  font-size: 16px;

  margin-top: 5px;

  text-align: center;

  color: #777;}

.title h2 {
  font-size: 40px;
  font-weight: bold;

  margin: 0;

  text-align: center;
  text-transform: uppercase;}

.services {
  margin-top: 80px;}

.services__item {
  float: left;

  width: 270px;

  text-align: center;}

.services__item h3 {
  font-size: 18px;

  margin-bottom: 5px;}

.services__item p {
  font-size: 14px;
  line-height: 1.55em;

  color: #777;}

.services__item:last-child {
  float: right;}

.services__item:nth-child(2) {
  margin-left: 60px;}

.portfolio {
  padding-bottom: 120px;

  background: #f7f7f7;}

.works {
  margin-top: 70px;}

.works img {
  float: left;}

.works img:nth-child(2) {
  margin-left: 29px;}

.works img:last-child {
  float: right;}

.about {
  display: block;

  margin: 0 auto;}

.about__item {
  width: 327px;
  margin-bottom: 17px;
  margin-left: 32%;}

.about__item img {
  position: relative;
  left: 73px;

  display: block;
  float: left;

  width: 185px;
  height: 185px;
  margin: 0 auto;}
.about__item .text-box {
  position: absolute;
  left: 59%;

  width: 160px;}
.about__item .text-box-left {
  position: absolute;
  right: 59%;

  width: 160px;

  text-align: right;}
.about__item h3 {
  font-size: 15px;
  line-height: 1.1em;

  margin-bottom: 5px;}

.about__item p {
  font-size: 14px;
  line-height: 1.2em;

  color: #777;}

footer {
  margin-bottom: 120px;}

footer .license {
  font-size: 14px;

  text-align: center;

  color: #777;}
